*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;

}
/*
//////////////////////////////
navbar
//////////////////////////////
*/
.brand{
    font-size: 2rem;
    font-weight: bolder;
}
.link{
    font-weight: 500;
}

/*
//////////////////////////////
bannar
//////////////////////////////
*/
.bannar-img{
    background-image: url("./images/sunrise.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    position: absolute;
}
.banner-overlay{
    background-color: rgba(0, 0, 0, 0.466);
    width: 100vw;
    height: 90vh;
    position: absolute;
    text-align: center;
    line-height: 2.5;
}
.banner-overlay h1,.banner-overlay p{
    font-family: 'Lobster', cursive;
    font-size: 3.5rem;
}
.banner-overlay p{
    font-size: 2rem;
}
.banner-overlay h1{
    margin-top: 200px;
}

/*
//////////////////////////////
section stripe
//////////////////////////////
*/

.search-stripe a{
    display: inline-block;
    position: fixed;
    background-color: rgb(211, 106, 36);
    padding: 0.75% 1.5%;
    top: 150px;
    right: 0;
    letter-spacing: 2px;
    border: 2px solid white;
    border-right: none;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.section{
    margin-top: 90vh;
}

/*
//////////////////////////////
footer
//////////////////////////////
*/
footer{
    padding: 5%;
    background-color: rgb(58, 50, 50);
    text-align: center;
}
footer .container p{
    font-size: 1.2rem;
}
.footer-icon{
    font-size: 1.5rem;
    color: white;
    margin: auto 1%;
}

/*
//////////////////////////////
section-body
//////////////////////////////
*/

/* .section-body{
    background-color: rgb(58, 97, 64);
} */
.search{
    width: 50%;
}
section p{
    color: white;
    font-size: 2rem;
    margin-top: 70px

}
#search-search-btn{
    margin-top: 5%;
}
.center{
    text-align: center;
}
.section-section-search{
    /* background-image: url("./images/searchpage-img.jpg"); */
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 50vh;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.432);
}
.section-search-2{
    margin-top: 50vh;
}
.section-search-3{
    margin: 0;
}
.section-heading{
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    padding: 3%;
}

.about-text{
    color: black;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: justify;
    font-weight: 400;
}
.footer-icon:hover{
    color: rgb(68, 139, 68);
}

.form-container{
    width: 40%;
    margin-bottom: 5%;
}

@media screen and (max-width:768px){
    .form-container{
        width: 60%;
    }
}
@media screen and (max-width:1200px){
    .form-container{
        width: 50%;
    }
}
@media screen and (max-width:998px){
    .form-container{
        width: 55%;
    }
}
@media screen and (max-width:567px){
    .form-container{
        width: 70%;
    }
}

.bannar-search{
    height: 50vh;
    width: 100vw;
    background-image: url("./images/sunset.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
}